@media (max-width: 768px) {
    .nav-left {
        position: absolute;
        left: 0;
        top: 0;
        margin-left: 16px;
        margin-top: 12px;
    }

    .nav-middle {
        display: none;
    }

    .nav-right {
        position: absolute;
        right: 16px;
        top: 32px;
    }

    .nav-right button {
        display: none;
    }

    .nav-right .hamburger {
        display: block;
    }

    header {
        flex-direction: column-reverse;
    }

    header div{
        text-align: center;
    }
}