@media (max-width: 768px) {
    .nav-left {
        position: absolute;
        left: 0;
        top: 0;
        margin-left: 16px;
        margin-top: 12px;
    }

    .nav-middle {
        display: none;
    }

    .nav-right {
        position: absolute;
        right: 16px;
        top: 32px;
    }

    .nav-right button {
        display: none;
    }

    .nav-right .hamburger {
        display: block;
    }

    header {
        flex-direction: column;
    }
    header div{
        text-align: center;
    }
    .horizontal-line{
        height: 10px;
        border-bottom: 1px solid orange;
    }
}

@media (min-width: 769px){
    header {
        flex-direction: row-reverse;
    }
    .horizontal-line{
        display: none;
    }
}